body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

.max-height {
    flex: 1;
}

#map {
    flex: 1;
}

#menu {
    background-color: rgb(34, 42, 53);
    color: rgb(195, 201, 211);
    transition: width 0.5s;
}

#board {
    background-color: rgb(26, 31, 39);
    color: rgb(195, 201, 211);
    transition: width 0.5s;
}

#menu.expend {
    width: 20%;
}

#board.expend {
    width: 100%;
}

#menu.unexpend {
    width: 0%;
}

#board.unexpend {
    width: 80%;
}

header {
    padding: 10px 0px;
}

.title {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

.main-title {
    font-size: 20px;
}

.sub-title {
    font-size: 14px;
}

.title-icon {
    float: left;
    font-size: 22px;
    padding: 0px 10px;
    color: white;
}

.search-field {
    padding: 0px 10px;
}

#search-input {
    font-size: 16px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    margin-bottom: 10px;
}

#search-input::placeholder {
    text-align: center;
}

#search-result {
    padding-left: 0px;
    overflow: auto;
}

#search-result>li {
    list-style: none;
    font-size: 18px;
    padding: 7px 0px;
    border-bottom: 1px solid rgb(195, 201, 211);
}
